{% extends "base.html" %}

{% import "components.html" as components %}

{% block body_class %}t-twentyeighteen-tccgreen cultureclub{% endblock %}

{% block content %}

<center class="wrapper" >
  {{ components.preheader(layout="cultureclub") }}

  {{ components.masthead(layout="cultureclub", color="tccgreen") }}

  <div class="clear">&nbsp;</div>

  <repeater>

    {{ components.headline_block(text="Welcome to The Culture Club", align="center") }}

  <!-- Text block  -->
  <layout label="Std. text block">
  <table class="one-col centered">
    <tbody>
      <tr>
        <td class="column" >
            <table class="contents">
              <tbody>
                <tr>
                  <td class="padded" align="center" style="text-align:center;">
                    <multiline label="Text"></multiline>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="column-bottom">&nbsp;</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
  </layout>


  <!-- Image block (small) -->
  <layout label="Image block (small)">
  <table class="one-col centered">
    <tbody>
      <tr>
        <td class="column" >
            <table class="contents">
              <tbody>
                <tr>
                  <td class="padded" align="center" style="text-align:center;">
                    <img editable label="Image" src="/audio-headphone-hearing-1591-825x5501.jpg" alt="" width="280" height="151" />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="column-bottom">&nbsp;</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
  </layout>


  <!-- Image block (large) -->
  <layout label="Image block (large)">
  <table class="one-col centered image-block">
    <tbody>
      <tr>
        <td class="column" >
            <table class="contents" >
            <tbody>
              <tr>
                <td class="padded" >
                  <div class="image">
                    <img editable label="Image" src="/black-and-white-headphones-life-3104-825x550.jpg" alt="" width="580" height="315" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
            <table class="contents">
            <tbody>
              <tr>
                <td class="padded main-title" >
                  <h2>
                    <singleline label="Large image heading"></singleline>
                  </h2>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
  </layout>

  {{ components.heading_three_block() }}


  <!-- Button block -->
  <layout label="Button block">
  <table class="one-col">
    <tbody>
      <tr>
        <td class="column" >
          <table class="contents">
            <tbody>
              <tr>
                <td class="padded" align="center">
                  <div class="btn">
                    <singleline label="Link"><a href="#">Button</a></singleline>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
  </layout>

  {{ components.divider_block() }}

  {{ components.heading_two_block(layout="cultureclub") }}

  {{ components.two_columns_block() }}

</repeater>

  {% call components.footer(
    unsubscribe_text="You&rsquo;re receiving this email because you&rsquo;re a supporter of The Culture Club.",
    unsubscribe_label="Unsubscribe"
  ) %}
    <p>
      <a href="http://www.festival.co.nz/the-culture-club/">www.festival.co.nz/the-culture-club</a><br/>
      <a href="mailto:thecultureclub@festival.co.nz">thecultureclub@festival.co.nz</a><br/>
      <a href="https://www.facebook.com/CultureClubNZ">Facebook</a><br/>
    </p>
  {% endcall %}

</center>

{% endblock %}
