{% extends "base.html" %}

{% import "components.html" as components %}

{% block body_class %}t-content t-twentyeighteen-tccgreen cultureclub{% endblock %}

{% block content %}

<center class="wrapper" >
  {{ components.preheader(layout="cultureclub", color="#99c7a1") }}

  {{ components.masthead(layout="cultureclub", color="tccgreen") }}

  <repeater>

    {{ components.headline_block(text="Welcome to The Culture Club", align="center") }}

    {{ components.text_centered_block() }}

    {{ components.image_small_block() }}

    {{ components.image_block() }}

    {{ components.heading_three_block() }}

    {{ components.button_centered_block() }}

    {{ components.text_block() }}

    {{ components.button_block() }}

    {{ components.heading_two_block(layout="cultureclub", uppercase=true ) }}

    {{ components.two_columns_block() }}

    {{ components.divider_block() }}

    {{ components.one_column_block() }}

  </repeater>

  {% call components.footer(
    unsubscribe_text="You&rsquo;re receiving this email because you&rsquo;re a supporter of The Culture Club.",
    unsubscribe_label="Unsubscribe",
    color="#99c7a1"
  ) %}
    <p>
      <a href="http://www.festival.co.nz/the-culture-club/">www.festival.co.nz/the-culture-club</a><br/>
      <a href="mailto:thecultureclub@festival.co.nz">thecultureclub@festival.co.nz</a><br/>
      <a href="https://www.facebook.com/CultureClubNZ">Facebook</a><br/>
    </p>
  {% endcall %}

</center>

{% endblock %}
