<tr>
  <td class="padded btn" {% if props.align %}align="{{ props.align }}"{% endif %}>
    <table border="0" cellpadding="0" cellspacing="0" class="u-current-bg-color">
      <tr>
        <td align="center" valign="middle" style="color:#FFFFFF; font-family: Helvetica, Arial, sans-serif; font-size:12px; font-weight:600; letter-spacing:-.5px; line-height:150%; padding-top:12px; padding-right:25px; padding-bottom:12px; padding-left:25px;">
          <singleline label="{{ props.label }}"><a href="http://www.festival.co.nz" target="_blank" style="font-family: Helvetica, Arial, sans-serif; font-size:12px; font-weight:600; color:#FFFFFF; text-transform: uppercase; letter-spacing: 0.02em; -webkit-font-smoothing: antialiased; text-decoration:none;">{{ props.text }}</a></singleline>
        </td>
      </tr>
    </table>
  </td>
</tr>
