{% import "components.html" as components %}

<layout label='*TEMPLATE* 1 item'>
  <table class="two-col centered single-item">
    <tbody>
      <tr>
        <td class="column first">
            <table class="contents">
              <tbody><tr>
                <td class="padded">
                  <div class="image">
                    <img class="u-current-bg-color" editable src="/bettrofenheit.jpg" label="Image" alt="" width="280" height="187" />
                  </div>
                </td>
              </tr>
            </tbody></table>
        </td>
        <td class="column second">
            <table class="contents">
              <tbody>
                <tr>
                  <td class="padded">
                    <h3><singleline label="Title">Enter your title</singleline></h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="contents">
              <tbody>
                <tr>
                  <td class="padded">
                      <multiline label="Article Body"><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p></multiline>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="contents">
              <tbody>
                {{ components.button(text="Button", label="Link") }}
              </tbody>
            </table>
          <div class="column-bottom">&nbsp;</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
</layout>
