{% extends "base.html" %}

{% import "components.html" as components %}

{% block body_class %}t-article {% endblock %}
{% block body_background %}background-color: #282e2f;{% endblock %}

{% block content %}

<center class="wrapper" >
  {{ components.preheader(layout="article", color="#2bbc8b") }}

  {{ components.masthead(layout="article", color="green") }}

  <repeater>
    {{ components.divider_block(soft=true) }}
    {#{{ components.heading_two_block(text="New on Article") }}#}
    {{ components.image_block() }}
    {{ components.heading_two_block(theme=true) }}
    {{ components.heading_two_block() }}
    {{ components.text_centered_block() }}
    {{ components.button_centered_block() }}
  
    {{ components.two_columns_block_with_links() }}


    


  </repeater>

  {% call components.footer(
    unsubscribe_text="You&rsquo;re receiving this email because you subscribed to the New Zealand Festival&rsquo;s <em>ARTicle</em> newsletter. ",
    unsubscribe_label="Unsubscribe",
    color="#2bbc8b",
    inverse=true
  ) %}
    <p>
      <a href="http://www.festival.co.nz/">www.festival.co.nz/</a><br/>
      <a href="mailto:nzfestival@festival.co.nz">nzfestival@festival.co.nz</a><br/>
      <a href="https://www.facebook.com/nzfestival">Facebook</a><br/>
      <a href="https://twitter.com/nzfestival">Twitter</a><br/>
    </p>
  {% endcall %}

</center>

{% endblock %}
