<layout label="Divider">
  <table class="one-col centered">
    <tbody>
      <tr>
        <td class="column">
            <table class="contents">
            <tbody>
              <tr>
                <td class="padded">
                  <div class=" divider {% if props.soft %} divider--soft {% endif %} {% if props.theme %} u-current-bg-color {% endif %}" align="center">&nbsp;</div>
                  <p style="display: none"><singleline label="Leave this blank"></singleline>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
</layout>
