<layout label="Image block (small)">
  <table class="one-col centered">
    <tbody>
      <tr>
        <td class="column" >
            <table class="contents">
              <tbody>
                <tr>
                  <td class="padded" align="center">
                    <img class="u-current-bg-color" editable label="Image" src="/bettrofenheit.jpg" alt="" width="280" height="187" />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="column-bottom">&nbsp;</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
</layout>
