<layout label="Text block">
  <table class="one-col centered">
      <tbody>
      <tr>
          <td class="column">
              <table class="contents">
              <tbody>
                  <tr>
                  <td class="padded">
                      <div>
                      <multiline label="Text">
                          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, <strong>vel illum dolore</strong> eu feugiat.</p>
                          <p>nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna <a href="#">aliquam erat volupat.</a></p>
                      </multiline>
                      </div>
                  </td>
              </tr>
              </tbody>
          </table>
          </td>
      </tr>
      </tbody>
  </table>
  <div class="clear">&nbsp;</div>
</layout>
