{% extends "base.html" %}

{% import "components.html" as components %}

{% block body_class %}t-twentyeighteen-green{% endblock %}

{% block content %}
<center class="wrapper">
  {{ components.preheader() }}

  {{ components.masthead(color="green") }}

  <repeater>

    {{ components.headline_block(text="Email title to go here") }}

    {{ components.image_block() }}

    {{ components.text_block() }}

    {{ components.button_block() }}

    {{ components.divider_block() }}

    {{ components.heading_two_block() }}

    {{ components.two_columns_block() }}

    {{ components.heading_three_block() }}

    {{ components.one_column_block() }}

  </repeater>

  {% call components.footer(
    unsubscribe_text="You&rsquo;re receiving this email because at one time you subscribed to the New Zealand Festival newsletter or bought a ticket from us.",
    unsubscribe_label="You can unsubscribe."
  ) %}
    <p>
      <a href="http://www.festival.co.nz">www.festival.co.nz</a><br />
      <a href="mailto:nzfestival@festival.co.nz">nzfestival@festival.co.nz</a><br />
      <a href="https://www.facebook.com/nzfestival">Facebook</a><br />
    </p>
  {% endcall %}

  <div class="clear">&nbsp;</div>
</center>

{% endblock %}
