{% import "components.html" as components %}
<table class="one-col centered footer">
  <tbody>
    <tr>
      <td class="column">
          <table class="contents">
          <tbody>
            <tr>
              <td class="padded">
                  <div class="divider u-current-bg-color">&nbsp;</div>
                  <p style="display: none">&nbsp;</p>
                  <p style="font-size: 13px; line-height: 22px; font-weight: 500;"><singleline label="Unsubscribe text">{{ props.unsubscribe_text }}</singleline>
                    <unsubscribe style="color: {{ props.color }}; text-decoration:underline;">{{ props.unsubscribe_label }}</unsubscribe></p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="clear">&nbsp;</div>

<table class="one-col footer">
  <tbody>
    <tr>
      <td class="column">
        <table class="contents" width="100%">
          <tbody>
            <tr>
              <td class="padded">
                <table class="contents" width="100%">
                  <tbody>
                    <tr>
                      <td class="column first footer-logos" width="50%">
                        {{ children }}
                      </td>
                      <td class="column last" width="50%">
                        <p><strong>The New Zealand Festival</strong><br />
                        St James Theatre, 77-87 Courtenay Place, Wellington 6011, New Zealand</p>
                        <p>+64 4 473 0149</p>
                      </td>
                    </tr>
                  </tbody>
              </table><br />
              </td>
            </tr>
          </tbody>
        </table>
        <table class="contents" width="100%">
          <tbody>
            <tr>
              <td class="padded">
                <table class="contents" width="100%">
                  <tbody>
                    <tr>
                      <td colspan="2" class="column first footer-logos" width="50%">
                          <strong>Core partner</strong>
                          <br />
                          <br />
                          <a href="https://wellington.govt.nz/">
                            <img class="u-current-bg-color" style="background-color: transparent;" src="{% if props.inverse %}/logo-abs-pos-wellington-inverse.png{% else %}/logo-abs-pos-wellington.png{% endif %}" width="106" height="73" alt="Absolutely Positively Wellington">
                          </a>
                      </td>
                      <td colspan="2" class="column last footer-core-funder" width="50%">
                        <strong>Core funder</strong>
                        <br />
                        <br />
                        <a href="http://www.creativenz.govt.nz/">
                          <img class="u-current-bg-color" style="background-color: transparent;" src="/{% if props.inverse %}logo-creative-nz-white.png{% else %}logo-creative-nz.png{% endif %}" width="168" height="40" alt="Creative NZ">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="contents" width="100%">
                  <tbody>
                    <tr>
                      <td class="footer-logos" style="padding-top: 30px;">
                        <strong>Funders</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="column first">
                        <a href="http://www.nzct.org.nz/">
                          <img class="u-current-bg-color" style="background-color: transparent; padding-top: 19px;" src="/{% if props.inverse %}logo-nzct-white.png{% else %}logo-nzct.png{% endif %}" width="104" height="41" alt="New Zealand Community Trust">
                        </a>
                      </td>
                      <td class="column">
                        <a href="http://www.lionfoundation.org.nz/">
                          <img class="u-current-bg-color" style="background-color: transparent; padding-top: 19px;" src="/{% if props.inverse %}logo-lion-white.png{% else %}logo-lion.png{% endif %}" width="147" height="55" alt="The Lion Foundation">
                        </a>
                      </td>
                      <td class="column last">
                        <a href="http://wct.org.nz/">
                          <img class="u-current-bg-color" style="background-color: transparent; padding-top: 19px;" src="/{% if props.inverse %}logo-wct-white.png{% else %}logo-wct.png{% endif %}" width="160" height="53" alt="Wellington Community Trust">
                        </a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="clear">&nbsp;</div>
