{% import "components.html" as components %}

<layout label="*TEMPLATE* 2 items, buttons L+R">
  <table class="two-col-bg centered">
    <tbody><tr>
      <td align="center">
        <table class="two-col centered">
          <tbody><tr>
            <td class="column first">
              <table class="contents">
                <tbody><tr>
                  <td>
                    <table width="100%">
                      <tbody><tr>
                        <td class="padded">
                        <div class="image">
                          <img class="u-current-bg-color" editable label="Image" src="/bettrofenheit.jpg" alt="" width="280" height="187" />
                        </div>
                        </td>
                      </tr></tbody>
                    </table>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td class="padded">
                            <h3 class='u-current-color'><singleline label="Title">Heading here </singleline></h3>
                            <multiline label="Article body"><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p></multiline>
                          </td>
                        </tr>

                        {{ components.link(text="Link", label="Link") }}

                      </tbody>
                    </table>
                  </td>
                </tr></tbody>
              </table>
            </td>
            <td class="column last">
              <table class="contents">
                <tbody><tr>
                  <td>
                    <div>
                    </div>
                    <table width="100%">
                      <tbody><tr>
                        <td class="padded">
                        <div class="image">
                          <img class="u-current-bg-color" editable label="Image" src="/bettrofenheit.jpg" alt="" width="280" height="187" />
                        </div>
                        </td>
                      </tr></tbody>
                    </table>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td class="padded">
                            <h3 class='u-current-color'><singleline label="Title">Heading here</singleline></h3>
                            <multiline label="Article Body"><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p></multiline>
                          </td>
                        </tr>

                         {{ components.link(text="Link ", label="Link") }}

                      </tbody>
                    </table>
                  </td>
                </tr></tbody>
              </table>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table>
  <div class="clear">&nbsp;</div>
</layout>