<layout label="Image block">
  <table class="one-col centered">
    <tbody>
      <tr>
        <td class="column">
            <table class="contents">
            <tbody>
              <tr>
                <td class="padded">
                  <div class="image" align="center">
                    <img class="u-current-bg-color" editable label="Image" src="/bettrofenheit-580x321.jpg" alt="" width="580" height="321" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clear">&nbsp;</div>
</layout>
