{% extends "base.html" %}

{% block content %}
<div style="margin: 1rem auto; max-width: 40rem;">
  <h1>NZ Festival email templates</h1>
  <ul>
    <li class="u-color-twentyeighteen-red"><a href="/twentyeighteen_campaign_red/">2018 Campaign style - Red</a></li>
    <li class="u-color-twentyeighteen-green"><a href="/twentyeighteen_campaign_green/">2018 Campaign style - Green</a></li>
    <li class="u-color-twentyeighteen-tccgreen"><a href="/culture_club/">Culture Club</a></li>
    <li><a href="/culture_club_auto_response/index.html">Culture Club (auto response)</a></li>
    <li><a href="/article_magazine/index.html">Article Magazine</a></li>
    <li><a href="/pattern-library/">Pattern library of blocks available</a></li>
  </ul>
 
</div>
{% endblock %}
