.t-article {
    background-color: $color-article-bg !important;
    color: $color-white; 
    h1 {
        font-family: 'Raleway', Arial Black, Helvetica, sans-serif;
        font-weight: 600;
        color: $color-white;
        font-size: 38px;
        line-height: 45px;
        letter-spacing: 4px;
    }

    h2 {
        font-family: 'Raleway', Arial Black, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2px;
        text-align: center;
    }
}
