.cultureclub {
    h1 {
        font-family: 'Raleway', Arial Black, Helvetica, sans-serif;
        font-weight: 600;
        color: $color-twentyeighteen-tccgreen;
        font-size: 38px;
        line-height: 45px;
        letter-spacing: 4px;
    }
}
