.t-twentyeighteen-red {
    h1,
    h3,
    a {
        color: $color-twentyeighteen-red;
    }
}

.t-twentyeighteen-green {
    h3 {
        color: $color-twentyeighteen-green;
    }

    a {
        color: $color-twentyeighteen-green;
    }
}
