$themes: (
    'twentyeighteen-green': (
        theme-color: $color-twentyeighteen-green,
        text-color: #333,
        background-color: white
    ),
    'twentyeighteen-red': (
        theme-color: $color-twentyeighteen-red,
        text-color: #333,
        background-color: white
    ),
    'twentyeighteen-tccgreen': (
        theme-color: $color-twentyeighteen-tccgreen,
        text-color: #333,
        background-color:  #f0f0e6
    ),
    'article': (
        theme-color: $color-twentyeighteen-articlegreen,
        text-color: $color-white,
        background-color: #282e2f
    ),
);

@each $alias, $colors in $themes {
    $theme-color: map-get($colors, theme-color);
    $text-color: map-get($colors, text-color);
    $background-color: map-get($colors, background-color);

    .t-#{$alias} {

        .u-current-color {
            color: $theme-color;
        }

        // Only use the --bg modifier when you want to apply background
        // color to the container you have set the theme class on.
        // eg. <div class-"t-green t-green--bg"></div>
        &.t-#{$alias}--bg,
        .u-current-bg-color {
            background-color: $theme-color;
        }

        .u-current-bg {
            background-color: $background-color;
        }

        .u-current-text-color {
            color: $text-color;
        }

        a,
        a:link,
        a:visited,
        a:active,
        a:hover {
            color: $theme-color;
        }
    }

    .u-color-#{$alias} {
        color: $theme-color;
    }

    .u-bg-color-#{$alias} {
        background-color: $theme-color;
    }

    .u-text-color-#{$alias} {
        color: $text-color;
    }
}
