<tr>
  <td class="padded " {% if props.align %}align="{{ props.align }}"{% endif %}>
    <table border="0" cellpadding="0" cellspacing="0" class="">
      <tr>
        <td align="center" valign="middle" style="font-family: Helvetica, Arial, sans-serif; font-size:15px; font-weight:600; letter-spacing:-.5px; line-height:150%; padding-right:25px; ">
          <singleline label="{{ props.label }}"><a href="http://www.festival.co.nz" target="_blank" class='u-current-color' style="letter-spacing: 0.02em; -webkit-font-smoothing: antialiased; text-decoration:none;">{{ props.text }}</a></singleline>
        </td>
      </tr>
    </table>
  </td>
</tr>
