<table class="two-col centered masthead">
  <tbody>
  {% if props.layout == 'cultureclub' %}
    <tr>
      <td class="column padded" align="center" style="text-align: center; padding-bottom: 15px;">
        <a href="http://www.festival.co.nz">
          <img src="/logo-nzf-long.png" alt="The Culture Club" width="220" height="24"/>
        </a>
      </td>
    </tr>
    <tr>
        <td class="column padded" align="center" style="text-align: center; padding-bottom: 30px;">
          <a href="http://www.festival.co.nz/the-culture-club">
            <img src="/logo-cultureclub.png" alt="The Culture Club" width="251" height="147"/>
          </a>
        </td>
      </tr>
    <tr>
      <td class="column padded" align="center" style="text-align: center;">
        <span class="facebook-icon"><a href="https://www.facebook.com/nzfestival"><img src="/icon-facebook-{{ props.color }}.png" alt="Like" title="Find us on Facebook" width="32" height="32" align="absmiddle" /></a></span>
        <span class="forward-icon"><forwardtoafriend lang="en"><img src="/icon-forward-{{ props.color }}.png" alt="Forward" title="Forward this email" width="32" height="32" align="absmiddle" /></forwardtoafriend></span>
      </td>
    </tr>
  {% elif props.layout == 'article' %}
    <tr>
      <td class="column padded" align="center" style="text-align: center; padding-bottom: 15px;">
        <img src="/logo-nzf-wide.png" alt="Article Magazine" width="167" height="16"/>
      </td>
    </tr>
    <tr>
        <td class="column padded" align="center" style="text-align: center; padding-bottom: 30px;">
          <img src="/logo-article-magazine.png" alt="Article magazine" width="271" height="74"/>
          <h4 class='u-uppercase'><singleline label="Date">25 August 2015</singleline></h4>
        </td>
      </tr>
    <tr>
      <td class="column padded" align="center" style="text-align: center;">
        <span class="facebook-icon"><a href="https://www.facebook.com/nzfestival"><img src="/icon-facebook-{{ props.color }}.png" alt="Like" title="Find us on Facebook" width="32" height="32" align="absmiddle" /></a></span>
        <span class="twitter-icon"><a href="https://twitter.com/nzfestival"><img src="/icon-twitter-{{ props.color }}.png" alt="Like" title="Find us on Twitter" width="32" height="32" align="absmiddle" /></a></span>
        <span class="forward-icon"><forwardtoafriend lang="en"><img src="/icon-forward-{{ props.color }}.png" alt="Forward" title="Forward this email" width="32" height="32" align="absmiddle" /></forwardtoafriend></span>
      </td>
    </tr>
  {% else %}
    <tr>
      <td class="column">
        <table>
          <tbody>
            <tr>
              <td class="nzflogo-container column padded" style="width:200px; margin-bottom: 15px;" width="200">
                <a href="http://www.festival.co.nz/"><img class="nzf-logo u-current-color" src="/logo-nzf.png" alt="New Zealand Festival" width="189" height="90" /></a>
              </td>
              <td class="social-container column padded" style="text-align: right; width: 380px;" width="380">
                <span style="margin-right: 10px;"><singleline label="All events link"><a href="http://www.festival.co.nz" target="_blank" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; letter-spacing: 0.02em; -webkit-font-smoothing: antialiased; text-decoration:none; font-weight: 600; font-style: italic;">All Festival events</a></singleline></span>
                <span class="facebook-icon"><a href="https://www.facebook.com/nzfestival"><img src="/icon-facebook-{{ props.color }}.png" alt="Find us on Facebook" title="Like this email on Facebook" width="32" height="32" align="absmiddle" /></a></span>
                <span class="twitter-icon"><a href="https://twitter.com/nzfestival"><img src="/icon-twitter-{{ props.color }}.png" alt="Find us on Twitter" title="Like this email on Twitter" width="32" height="32" align="absmiddle" /></a></span>
                <span class="forward-icon"><forwardtoafriend lang="en"><img src="/icon-forward-{{ props.color }}.png" alt="Forward" title="Forward this email" width="32" height="32" align="absmiddle" /></forwardtoafriend></span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {% endif %}
  </tbody>
</table>

<div class="clear">&nbsp;</div>
