<table class="two-col centered masthead u-current-bg">
  <tbody>
  {% if props.layout == 'cultureclub' %}
    <tr>
      <td class="column padded" align="center" style="text-align: center; padding-bottom: 15px;">
        <img src="/logo-nzf-long.png" alt="The Culture Club" width="220" height="24"/>
      </td>
    </tr>
    <tr>
        <td class="column padded" align="center" style="text-align: center; padding-bottom: 30px;">
          <img src="/logo-cultureclub.png" alt="The Culture Club" width="251" height="147"/>
        </td>
      </tr>
    <tr>
      <td class="column padded" align="center" style="text-align: center;">
        <span class="facebook-icon"><fblike><img src="/icon-facebook-{{ props.color }}.png" alt="Like" title="Like this email on Facebook" width="32" height="32" align="absmiddle" /></fblike></span>
        <span class="forward-icon"><forwardtoafriend lang="en"><img src="/icon-forward-{{ props.color }}.png" alt="Forward" title="Forward this email" width="32" height="32" align="absmiddle" /></forwardtoafriend></span>
      </td>
    </tr>
  {% else %}
    <tr>
      <td class="column">
        <table>
          <tbody>
            <tr>
              <td class="nzflogo-container column padded" style="width:200px; margin-bottom: 15px;" width="200">
                <a href="http://www.festival.co.nz/"><img class="nzf-logo u-current-color" src="/logo-nzf.png" alt="New Zealand Festival" width="189" height="90" /></a>
              </td>
              <td class="social-container column padded" style="text-align: right; width: 380px;" width="380">
                <span class="facebook-icon"><fblike><img src="/icon-facebook-{{ props.color }}.png" alt="Like" title="Like this email on Facebook" width="32" height="32" align="absmiddle" /></fblike></span>
                <span class="twitter-icon"><tweet><img src="/icon-twitter-{{ props.color }}.png" alt="Tweet" title="Like this email on Twitter" width="32" height="32" align="absmiddle" /></tweet></span>
                <span class="forward-icon"><forwardtoafriend lang="en"><img src="/icon-forward-{{ props.color }}.png" alt="Forward" title="Forward this email" width="32" height="32" align="absmiddle" /></forwardtoafriend></span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {% endif %}
  </tbody>
</table>

<div class="clear">&nbsp;</div>
